body {
    background-color: rgb(45, 42, 119);
}

.images {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin-left: 23%;
}

.prev {
    width: 10%;
    height: 10%;
    margin-top: 25%;
}

.next {
    width: 10%;
    height: 10%;
    margin-top: 25%;
}

