body {
    background-repeat: no-repeat;
    font-family: 'Advent Pro';
    background-color: rgb(254, 250, 224);
}

h1 {
    font-size: 64px;
    
}

.first {
    margin-left: 21%;
}

.second {
    margin-bottom: 5%;
    margin-top: 4%;
    margin-left: 22%;
}

.post1 {
    margin-left: 10%;
}

.post2 {
    margin-right: 20%;
}

.info {
    display: flex;
    justify-content: space-around;

}

time {
    margin-top: 5%;
}

h2 {
    font-size: 40px;
    background-position: -5%;
}

p {
    font-size: 20px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    background-image: url(images/postit.png);
    background-repeat: no-repeat;
    line-height: 1.3em;
}

.para2 {
    padding-left:4%;
    padding-right: 8%;
}


article {
    margin-right: 10%;
    margin-left:10% ;
    margin-top: 3%;
}

img {
    margin-top: -100%;
    margin-left: 10%;
}

time {
    font-size: 18px;
}
